# Day-3 Assignment-***2***

In [19]:
for i in range(1,201):
  for j in range(2,201):
    if i==1:
      break
    elif i>j and i%j == 0:
      i += 1
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199