## ***LIST***

In [3]:
l = [1, 2, 3, 3, 5, 1, 1]

In [23]:
a = l.append(7)
print(a)    # appends the new element the end of the list and returns "None"
print(l)

None
[1, 2, 3, 4, 5, 5, 7, 7, 7, 7]

In [25]:
p = l.insert(2, 5)
print(p)    # inserts a new element (2nd argument) at the specified index (passed as 1st argument) and returns "None"
print(l)

None
[1, 2, 5, 5, 3, 4, 5, 5, 7, 7, 7, 7]

In [22]:
s = l.sort()
print(s)     # sort() method modifies the list and retirns "None" 
print(l)     # prints the newly modified list

None
[1, 2, 3, 4, 5, 5, 7, 7, 7]

In [28]:
p1 = l.pop()
print(p1)    # pop() method returns the last indexed element, if no argument is passed
print(l)     # pop() removes the last index element, if no argument is passed

7
[1, 2, 5, 5, 3, 4, 5, 5, 7]

In [30]:
p2 = l.pop(3)
print(p2, l) # pop() method removes the element at the index passed as argument and returns it in variable 'p2'

3 [1, 2, 5, 4, 5, 5, 7]

In [32]:
r = l.index(5)
print(r)     # prints out the index number of element "5" at it's first occurence in the list

2

# ***Tuple***

In [33]:
tup = ("a", "b", "c")

In [35]:
tup.index("b")    # returns the index number of the passed element

1

In [37]:
tup.count("c")    # returns number of times the element is repeated

1

# ***Sets***

In [42]:
st = {"1", 1, "a", 2}

In [47]:
ad = st.add("d")  # adds a new element to the set and returns "None"
print(ad, st)

None {1, 2, 'a', 'd', '1'}

In [49]:
st.pop() # removes any one of the element from the set and returns that element

2

In [53]:
st.update("b", "c", "d")     # update() method is used to add multiple elements to the set at a time
print(st)

{'a', 'c', 'd', 'b', '1'}

In [54]:
st1 = {"a", "b", "c"}

In [55]:
st1.issubset(st)      # returns "True" if 'st1' is subset of 'st' orelse False

True

In [59]:
st.issuperset(st1)  # returns "True" if 'st' is superset of 'st1' orelse False

True

In [62]:
st.clear()          # clear() method just makes the set empty
st                  # empty set is representated by "set()""

set()

## `***Strings***`

In [63]:
str1 = "hello world"

In [66]:
str1.endswith("1")       # returns a boolen value basing on the last character

False

In [68]:
str1.index("l")         # returns the index number of the element's 1st occurance

2

In [69]:
str1.upper()            # makes all the characters of the string to upper-case

'HELLO WORLD'

In [70]:
str1.lower()             # makes all the characters of the string to lower-case

'hello world'

In [71]:
str1.replace("world", "python")     # replace the 1st argument with the 2nd argument

'hello python'

## ***Dictionary***

In [22]:
dic = {"name" : "Likhith", "age" :  18, "number" : 12345}

In [24]:
dic.keys()        # returns the list of keys in the dictionary

dict_keys(['name', 'age', 'number'])

In [25]:
dic.values()      # returns the list of values in the ductionary

dict_values(['Likhith', 18, 12345])

In [26]:
dic.items()       # returns all the key-value pairs as a tuple in the form of a list

dict_items([('name', 'Likhith'), ('age', 18), ('number', 12345)])

In [27]:
dic.popitem()     # removes the last inserted key-value pair from the dc=ictionary and returns it

('number', 12345)

In [28]:
dic.get("name")   # returns the value of the specified key

'Likhith'

In [29]:
dic.clear()       # makes the dictionary empty by removing all the key-value pairs 
dic               # now it prints the empty dictionary